.Blogs {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    padding: 20px 0;
}

.Summary {
    position: relative;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    overflow-x: hidden;
    overflow-y: visible;
}

.Summary::after {
    content: 'Open';
    font-size: 2.5rem;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 0;
    right: 100%;
    width: 100%;
    height: 100%;
    padding-top: 30%;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    transition-duration: 0;
}

.Summary:hover::after {
    transition-duration: 0.2s;
    transform: skewX(0);
    right: 0;
}

.Summary .Link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
}

@media (min-width: 1000px) {
    .Blogs {
        padding: 20px;
    }
}