@import '../../../styles/style.module.css';

.OutlineButton {
    font-family: inherit;
    text-decoration: none;
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: inherit;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.OutlineButton:disabled {
    color: grey;
    cursor: not-allowed;
}

.OutlineButton.Light:disabled {
    background-color: lightgray;
}

.OutlineButton.Dark:disabled {
    background-color: rgb(75, 75, 75);
}

.OutlineButton.Blue:disabled {
    background-color: rgba(0, 172, 181, 0.35);
}
.Light {
    color: var(--light1);
    border: 1px solid var(--light1);
}

.Light:hover {
    color: var(--dark1);
    background-color: var(--light1);
}

.OutlineButton a {
    color: inherit !important;
    text-decoration: none !important;
}

.Dark {
    color: var(--dark1);
    border: 1px solid var(--dark1);
}

.Dark:hover {
    color: var(--light1);
    background-color: var(--dark1);
}

.Blue {
    color: var(--mid);
    border: 1px solid var(--mid);
}

.Blue:hover {
    color: var(--light1);
    background-color: var(--mid);
}

