@import '../../../../styles/style.module.css';
.NavItem {
    display: inline-block;
    margin: 0 30px;
    height: 100%;
}

.NavItem a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    font-weight: 400;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.NavItem a:hover {
    color: var(--light1);
}

.NavItem a::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 3px;
    background-color: var(--light1);
    position: absolute;
    top: 70%;
    left: 0;
    transition-duration: 0;
    transition-timing-function: ease-in-out;
}

.NavItem a:hover::after {
    width: 100%;
    transition-duration: 0.3s;
}

@media (max-width: 1000px) {
    .NavItem {
        margin: 0;
        height: 70px;
    }

    .NavItem a {
        width: 100%;
        padding-left: 30px;
        overflow: hidden;
        box-sizing: border-box;
        font-weight: bold;
    }

    .NavItem a::after {
        width: 140%;
        height: 100%;
        transform: skew(-55deg);
        top: 0;
        left: -170%;
        background-color: var(--mid);
        z-index: -1;
    }

    .NavItem a:hover {
        color: var(--light1);
    }

    .NavItem a:hover::after {
        left: -20%;
        width: 150%;
        transition-duration: 0.3s;
    }

}