.Register {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10em;
}

.Input {
    background: none;
    border: none;
    border-bottom: 1px solid var(--light1);
    height: 2.5rem;
    font-size: 1rem;
    padding: 5px 20px;
    outline: none;
    caret-color: var(--light1);
    color: var(--light1);
    transition: all 0.2s ease-in-out;
    font-family: inherit !important;
    flex: 1 1 auto;
}

input[type=date] {
    text-align: right;
}

input[type="date"]::before {
    color: rgba(255, 255, 255, 0.5);
    content: attr(placeholder) !important;
    margin-right: auto;
  }

.Input:focus {
    border-radius: 3px;
    border-color: var(--mid);
    background-color: rgba(0, 173, 181, 0.4);
}

.InputGroup {
    width: 90%;
    display: flex;
    align-items: center;
    margin: 20px auto;
    gap: 1em;
    flex-wrap: wrap;
    min-height: 110px;
}

.Icon {
    overflow: hidden;
}

.Heading {
    color: var(--light1);
    font-size: 2.5rem;
    width: 100%;
    text-align: center;
}

.Submit {
    width: 80%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
}

.Google {
    width: 100%;
    color: var(--light1);
}

.GbtnContent {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.Invalid {
    display: block;
    width: 100%;
    flex: 0 0 auto;
    text-align: left;
    padding-left: 60px;
    font-weight: bold;
    color: rgb(232, 69, 69);
}

.InputPrompt {
    display: block;
    width: 100%;
    flex: 0 0 auto;
    text-align: left;
    padding-left: 60px;
    color: var(--mid);
}

.Redirect {
    color: var(--light1);
    margin-top: 30px;
    width: 100%;
    text-align: center;
}

.Redirect a {
    color: var(--mid);
    text-decoration: none;
    font-weight: bold;
}

::placeholder {
    color: rgba(255, 255, 255, 0.5);
    opacity: 1;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

@media (min-width: 1000px) {
    .Register {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 2rem;
        padding: 0 13rem;
        padding-bottom: 5rem;
    }
    .InputGroup {
        flex: 1 1 40%;
        max-width: 50%;
        align-items: flex-start;
    }
    
}