.Login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10em;
    min-width: 50%;
}

.Input {
    background: none;
    border: none;
    border-bottom: 1px solid var(--light1);
    height: 2.5rem;
    font-size: 1rem;
    padding: 5px 20px;
    outline: none;
    caret-color: var(--light1);
    color: var(--light1);
    transition: all 0.2s ease-in-out;
    font-family: inherit !important;
    flex: 1 1 auto;
}

.Input:focus {
    border-radius: 3px;
    border-color: var(--mid);
    background-color: rgba(0, 173, 181, 0.4);
}

.InputGroup {
    width: 90%;
    display: flex;
    align-items: center;
    margin: 20px auto;
    gap: 1em;
    flex-wrap: wrap;
}

.Icon {
    overflow: hidden;
}

.Heading {
    color: var(--light1);
    font-size: 2.5rem;
}

.Submit {
    width: 80%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
}

.Google {
    width: 100%;
    color: var(--light1);
}

.GbtnContent {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.Invalid {
    display: block;
    width: 100%;
    flex: 0 0 auto;
    text-align: center;
    padding-left: 60px;
    font-weight: bold;
    color: rgb(232, 69, 69);
}

.Redirect {
    color: var(--light1);
    margin-top: 30px;
}

.Redirect a {
    color: var(--mid);
    text-decoration: none;
    font-weight: bold;
}

::placeholder {
    color: rgba(255, 255, 255, 0.5);
    opacity: 1;
}

.LoginRight {
    display: none;
}

@media (min-width: 1000px) {
    .LoginWrapper {
        display: flex;
        flex-direction: row;
        padding: 0 10rem;
    }

    .LoginRight {
        display: block;
        flex: 1 1 50%;
        padding-top: 10%;
    }

    .LoginRight img {
        width: 20rem;
    }
}
